/* @override http://limi.net/limi.css */

/* @group CSS Reset */

* {
	margin: 0;
	padding: 0;
}

* :link,:visited {
	text-decoration: none
}

/** ul,ol {
	list-style: none;
}

* li {
	display: inline;
}*/

* h1,h2,h3,h4,h5,h6,pre,code {
	font-size: 1em;
}

* a img,:link img,:visited img {
	border: none
}

a {
	outline: none;
}

table {
	border-spacing: 0;
}

img {
	vertical-align: middle;
}

/* @end */

/* @group Basics */

body {
	background-color: #fff;
	color: #333;
	font-family: Baskerville, "Sorts Mill Goudy", Georgia, serif;
	width: 38em;
	margin: 2em auto;
        text-rendering: optimizeLegibility;
}

a:link {
	color: #b63;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
}

a:visited {
	color: #888;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
}

a:active {
	color: #888;
	text-decoration: none;
}

a:hover {
	color: #888;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center;
/*	font-style: italic; */
	font-weight: normal;
	line-height: 1.1em;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	border-bottom: none !important;
}

h1, h2 {
	letter-spacing: -1px;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em; 
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.75em;
}

h2, h3 {
    margin-top: 1em;
}

.documentFirstHeading {
    width:11em; 
    margin: auto;
}

/* h2 + p:first-line,
h3 + p:first-line, */
p.documentDescription + p:first-line,
hr + p:first-line {
    text-transform: lowercase;
    font-variant: small-caps;
}

p.documentDescription + p:first-letter,
hr + p:first-letter {
    font-size: 5.4em; 

    line-height: 0.7;
    margin-top: 0.1em; 
/* One of the rare Firefox CSS bugs! Firefox is still applying the parent 
   paragraph’s line-height to the first letter, ignoring its much-larger 
   font size, while the other browsers are correctly applying a line-height
   that corresponds with the letter’s font-size. */

    float: left; 
    display: block; 
    margin-right: 0.05em; 
    margin-left: -0.1em; 
    color: #b63;
    text-transform: uppercase;
}


h2 + p,
h3 + p,
p.documentDescription + p,
hr + p {
	text-indent: 0;
}

p {
	font-size: 1.1em;
	text-align: justify;
	line-height: 1.5em;
	text-indent: 1em;
	margin: 0.25em 0;
        /* -moz-hyphens: auto; */
}

ul, ol {
    padding-left: 1em;
    clear: both;
}

ul, ol, dl {
    font-size: 1.1em;
    line-height: 1.5em;
	margin: 0.5em 0;
	text-align: justify;
}

ul ul,
ul ol,
ol ul {
	font-size: 1em !important;
}

li {
	margin: 0.25em 0;
}

dt { 
	/* font-style: italic; */
        font-variant: small-caps;
        margin-bottom: 0.25em;
        margin-top: 1em;
        text-transform: lowercase;
}

dd { 
	margin: 0 0 0.25em 1em;
        display: list-item;
}


b, strong, label {
	font-weight: 600;
}

blockquote {
/*    font-style: italic; */
/*    font-variant: small-caps; */
/* letter-spacing: 0.1em; */

    border-left: 1px solid #ccc;
    padding: 0 1em;
    margin: 0;
}

blockquote p {
    text-indent: 0;
}

q {
    quotes: "“" "”" "‘" "’"
}

textarea {
	width: 100%;
}

pre {
	background-color: #222;
	color: #fff;
	font-family: Monaco, Consolas, Inconsolata, "Courier New", monospace;
	padding: 1em 3em;
	overflow-x: auto;
	font-size: 0.8em;
	margin-bottom: 1em;
	line-height: 1.3em;
}

code {
	font-family: "American Typewriter", Consolas, Inconsolata, "Courier New", monospace;
        font-size: 90%;
}

hr { 
    height: 1px; 
    border: 0; 
    color: #ccc; 
    background-color: #ccc; 
    width: 40%; 
    margin: 2em auto; 
    clear: both;
}

sup { 
    font-size: 60%; 
}

abbr,
acronym {
    font-variant: small-caps;
    text-transform: lowercase;
    font-style: normal;
    border: none;
}

abbr[title='and'] {
    font-style: italic;
    font-size: 100%;
}

del { color: #b00; }
del span { color: #333; padding: 0 0.1em; }

kbd {
    background: #ddd;
    border-radius: 4px 4px 4px 4px;
    border-top: 1px solid #eee;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0 0.1em;
    min-width: 1em;
    padding: 0 0.5em 0.1em;
    white-space: nowrap;
    font-family: "American Typewriter", Consolas, Inconsolata, "Courier New", monospace;
}

legend {display: none;}
fieldset {border: none;}
/* @end */

/* @group Site-specific */

#edit-bar {
margin-bottom: 2em !important;
}

#header {
	position: relative;
	margin: 0 auto;
	height: 3em;
	padding-bottom: 1em;
	/* border-bottom: 1px solid #ccc; */
}

#header-name a {
	font-style: normal;
	font-size: 200%;
	text-align: center;
	color: #b63;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 0.8em;
	letter-spacing: 0.04em;
	/* position: absolute;
	left: 0em; */
	border: none;
}
#header-tag a {
	color: #333;
	text-align: justify;
	font-style: normal;
	font-size: 92%;
	line-height: 1em;
	position: absolute;
	right: 0em;
	border: none;
	text-transform: uppercase;
}
#header-tag a abbr {
	color: #b63;
	padding: 0 0.1em;
	font-size: 1.4em;
	font-family: Baskerville, "Palatino Linotype", "Century Schoolbook L", serif;
	vertical-align: text-bottom;
}


p.documentDescription {
    text-align: center;
    padding: 1em 0;
    /* border-bottom: 1px solid #ccc; */
	font-variant: small-caps;
    margin: auto;
    width: 20em;
    text-transform: lowercase;
    text-indent: 0;
letter-spacing: 0.1em;
}

p.documentByLine { 
    color: #888; 
    font-variant: small-caps; 
    display: block; 
    text-align: center; 
    letter-spacing:0.3em;
    text-transform: lowercase;
    clear:both;
}

.discreet {
    color: #888;
    font-size: 95%;
}

.sidenote {
    /* border-left: 1px solid #888; */
    display: block;
    float: right;
    font-size: 90%;
    margin: 1.7em 0 1em 2em;
    padding: 0;
    text-align: left;
    text-indent: 0;
    line-height: 1.7em;
    width: 14em;
}

.image-right {
	float: right;
        clear: right;
	display: block;
	margin: 0.25em 0 0.5em 1em;
    border: 1px solid #888;	
}

.image-left {
	float: left;
        clear: left;
	display: block;
	margin: 0.25em 1em 0.5em 0;
    border: 1px solid #888;	
}

.image-center {
	display: block;
	margin: 0.25em auto 0.5em auto;
    border: 1px solid #888;	
    max-width: 100%;
}

.image-inline {
    border: 1px solid #888;	
}

.endMarker {
    display: inline-block;
    background: transparent url(favicon-ghosted.gif) 0 3px no-repeat;
    height: 16px;
    width: 16px;
}

#portrait {
	border: 1px solid #444; 
	float: left; 
	margin: 1em 1em 3em 0;
}

#colophon {
	/* border: 1px solid #ccc;
	border-style: solid none; */
	margin: 1em 0;
	padding: 1em 0;
	font-size: 90%;
}
#colophon p {
	text-indent: 0;
}

#colophon-footer {
	color: #888;
	display: block;
	margin: 0 0 1em 0;
        font-variant: small-caps; 
        text-transform: lowercase;
        text-align: right;
}
#colophon-footer li {
	display: inline;
	margin: 0 0.25em 0 0; 
}

#quote {
	text-align: center;
        clear: both;
        margin: 0;
}

#meta {
	margin-bottom: 3em;
	font-variant: small-caps;
	text-transform: lowercase;
	clear: both;
}

#meta p {
	text-indent: 0;
	text-align: center;
}
/* @end */

/* @group Listings */

ul.news {
	list-style: none;
	font-size: 1em;
	padding: 0 !important;
}

ul.news li {
	display: inline-block;
	width: 49%;
	margin-bottom: 1em;
	vertical-align: top;
	text-align: center;	
}

ul.news li:first-child {
	width: 100%;
	margin-bottom: 1em;
	padding-bottom: 1em;
	/* border-bottom: 1px solid #ccc; */
}

ul.news li h2 {
	padding: 0 1em;
}

ul.news li p {
	text-indent: 0;
	text-align: center;
	padding: 0 1em;
}
ul.news li p:first-line {
	font-variant: normal;
        letter-spacing: 0;
        
}

ul.news li p.documentByLine:first-line {
	font-variant: small-caps;
        letter-spacing: 0.2em;
}

ul.news h2.tileHeadline {
    margin-top: 0;
}

ul.news li p.documentByLine {
	font-size: 1.1em;
	letter-spacing: 0.2em;
	border: none;
}

ul.news li.update {
	display: block;
	width: 100%;
}


/*
ul.news li.update:nth-child(even) {
	border-top: 1px solid #ccc;
}
ul.news li.update:nth-child(odd) {
	border-bottom: 1px solid #ccc;
}
*/

/* @end */


/* @group Batch nav */

div.listingBar {
	font-size: 1em;	
	margin: 1em 0;
	padding: 1em 0 0 0;
	text-align: center;
/*	border-top: 1px solid #ccc;	*/
}

div.listingBar .next {
	display: inline-block;
	float: right;
}

div.listingBar .previous {
	display: inline-block;
	float: left;
}
div.listingBar .current {
	padding: 0 0.25em;
}
div.listingBar a {
	display: inline-block;
	padding: 0.25em 0.5em;
	border: 1px solid #ccc;
	color: #b63;	
}

div.listingBar a:hover {
	color: White !important;
	background-color: #ccc !important;
	border-color: #ccc !important;
}


/* @end */

/* @group Data tables */

table.listing {
	border-spacing: 0; 
}

table strong {
	font-weight: bold;
	font-style: normal;
}

table.listing td, 
table.listing th {
	padding: 1em;
	vertical-align: top;
	text-align: center;
}

table.listing td.listingCheckbox, 
table.listing th.listingCheckbox {
	text-align: center;
}

table.listing th {
	text-align: left;
	border-bottom: 1px solid #e7e7e7;
	white-space: nowrap;
}
table.listing tbody th {
	font-weight: bold;
}
table.listing tbody tr {
	text-align:left;
}
table.listing tbody tr:nth-child(even) { 
	background: #f9f9f9;
}


/* @end */


/* @group Status messages */

dl.portalMessage {
    margin: 1em 0;
	font-size: 80%;
	border: 1px solid #996;
	background-color: #ffffe3; 
}
dl.portalMessage a {
    color: black;
	border-color: black;
}
dl.portalMessage dt {
    background-color: #996; 
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: White;
    line-height: 1.25em;
}
dl.portalMessage dd {
    padding: 0.5em 0.5em; 
    margin: 0;
    line-height: 1.25em;
}
dl.warning {
    border-color: #d80;
}
dl.warning dt {
    background-color: #d80;
}
dl.error {
    border-color: #d00;    
}
dl.error dt {
    background-color: #d00; 
}
dl.warning {
    border-color: #d80;    
}
dl.warning dd {
    background-color: #fd7; 
}
dl.error {
    border-color: red;    
}
dl.error dd {
    background-color: #fdc; 
}
dl.warning a,
dl.error a {
    text-decoration: underline;
}

/* Additional specificity for when status is shown inside #content */
#content dl.portalMessage {
	font-size: 100%;
}
#content dl.portalMessage dt {
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
}
#content dl.portalMessage dd {
    margin: 0;
}

/* @end */

/* @group Table of Contents */

dl#document-toc {
    float: left;
    width: 14em;
    margin: 0.25em 1em 0 -15em;

}
dl#document-toc dt {
	margin-left: 1em;
	font-weight: normal;
	text-transform: uppercase;
}
dl#document-toc dd {
	margin-bottom: 0;
	padding-left: 0;
        margin-left: 0;
}
dl#document-toc dd ol {
	margin-left: 0.5em;
	font-size: 90% !important;
    text-align: left !important;
}

/* @end */



/* @group iPhone (mobile) */

@media screen and (max-device-width: 480px) {

body {
	width: 440px;
	margin: 40px 20px;
	padding: 0;
	font-size: 140%;
}	

h1.documentFirstHeading {
    width: 9em;
}

p.documentDescription {
    width: 18em;
}

p {
	text-align: left;
	text-indent: 0;
	margin: 0.5em 0;
}
ul, ol, dl {
	text-align: left;
}
ul, ol {
    padding-left: 1em;
}
dd {
	margin-left: 1em;
}
pre {
	font-size: 60%;
	padding: 1em;
}
ul.news {
	margin: 0;
	padding: 0;
}
ul.news li {
	/* border-top: 1px solid #ccc; */
	padding: 2em 0 !important;
	margin: 0;
	width: 100%;
	display: block;
}
ul.news li:first-child {
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
div.listingBar {
	border-top: none;
}
.sidenote,
img.image-right,
img.image-left,
img-image-center,
img.image-inline {
	float: none;
	display: block;
	margin: 1em auto;
    width: 100%;
    padding: 0;
}
#header {
	height: 8em;
    padding-bottom: 0;
}
#header-name a {
	position: relative;
	display: block;
	text-align: center;
	left: inherit;
}
#header-tag a {
	font-size: 60%;
	position: relative;
	right: inherit;
}
#header-tag a abbr {
	padding: 0;
	vertical-align: baseline;
	font-size: 1em;
}
#portrait {
	float: none;
	margin: 0.5em;
}
#colophon,
#colophon p,
#colophon-footer {
	text-align: center;
}

#colophon-footer {
	margin-top: 0.5em;
}
#quote {
	/* border-top: 1px solid #ccc;*/
	padding-top: 1em;
}

}

/* iPad and tablets */
@media screen and (min-device-width: 768px) and (max-device-width: 768px) {

body { font-size: 175% }

}


/* @end */

